#big_house{
	width:600px;
	height:600px;
}
.casas_menores{
	width:65px;
	height:65px;
}
.casas_maiores{
	width:200px;
	height:200px;	
}
body{
	background-color:grey;
}
table{
	border-collapse: collapse;
}
.linha1{
	border-bottom: solid 10px #00FF00;
}
.linha2{
	border-bottom: solid 10px #00FF00;
}
.coluna1{
	border-left: solid 10px #00FF00;
	border-right: solid 10px #00FF00;
}
.coluna2{
	border-left: solid 10px #00FF00;
	border-right: solid 10px #00FF00;
}.coluna3{
	border-left: solid 10px #00FF00;
	border-right: solid 10px #00FF00;
}
